body {
    background-image: url('../images/firefox.jpg');
    background-size: 100%;
}

h1, p {
    font-family: Sans-serif;
    color: white;
}

@font-face{
    font-family:'Basic Icons';
    src:url(../fonts/basic.icons.eot);
    src:url(../fonts/basic.icons.eot?#iefix) format('embedded-opentype'),url(../fonts/basic.icons.svg#basic.icons) format('svg'),url(../fonts/basic.icons.woff) format('woff'),url(../fonts/basic.icons.ttf) format('truetype');
    font-style:normal;
    font-weight:400;
    font-variant:normal;
}
